node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.git
.gitignore
.github

.env
.env.*
!.env.example

drizzle
coverage
dist
k6

Dockerfile
docker-compose.yml
README.md

.vscode
.idea

*.log
.DS_Store